"".selector-for-some-widget {
  box-sizing: content-box;
}
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: left;
  font-size: 50px;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 30px;
  font-family: 'Neucha', cursive;

}

p {
    font-family: 'Neucha', cursive;
    font-size: 20px;
    margin-left: 80px;

}
nav{
  font-family: 'Neucha', cursive;
  font-size: 30px;
}
