"".selector-for-some-widget {
  box-sizing: content-box;
}
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: left;
  font-size: 65px;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 30px;
  font-family: 'Neucha', cursive;
}
p1{
    color: grey;
    font-family: 'Neucha', cursive;
    font-size: 25px;
    margin-left: 90px;
    margin-top: -10px;
}
nav{
  font-family: 'Neucha', cursive;
  font-size: 30px;
}
.bg-primary {
   background-color:lightblue !important;
}
p{
  font-size: 25px;
  color: white;
  font-family: 'Neucha', cursive;
}
h2{
  font-size: 40px;
  color: white;
  margin-top: 110px;
  font-family: 'Neucha', cursive;

}
h5{
  color: black;
  font-family: 'Neucha', cursive; bold;
  font-size: 20px;
  margin-bottom: 80px;
  margin-top: 20px;
}

h6{
  color: black;
  font-family: 'Neucha', cursive, bold;
  font-size: 20px;
  margin-bottom: 80px;
  margin-top: 50px;
}

h7{
  color: white;
  font-family: 'Neucha', cursive, bold;
  font-size: 20px;
  margin-bottom: 50px;
}
h8{
  font-family: 'Neucha', cursive, bold;
  margin-bottom: -50px;
}
h9{
  font-family: 'Neucha', cursive, bold;
  color: white;
  font-size: 50px;
  margin-bottom: auto;
}
card-body{
  font-family: 'Neucha', cursive, bold;
  color: white;
  font-size: 50px;
  margin-bottom: auto;
}
